@import "tailwindcss";

@theme {
  --color-neo-purple: #A855F7;
  --color-neo-cyan: #22D3EE;
  --color-neo-green: #4ADE80;
  --color-neo-yellow: #FACC15;
}

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #000000;
    --border: #000000;
    --ring: #000000;
    --radius: 0rem;
  }

  .dark {
    --background: #000000;
    --foreground: #fafafa;
    --border: #fafafa;
    --ring: #d4d4d8;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
